<html>
<head>
<title>Viscient Licensing Dashboard</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- <script src="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css"></script> -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.13/js/dataTables.bootstrap4.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" integrity="sha256-BJ/G+e+y7bQdrYkS2RBTyNfBHpA9IuGaPmf9htub5MQ=" crossorigin="anonymous" />
<!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css"> -->

<!-- https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css -->
<script src="https://code.iconify.design/1/1.0.2/iconify.min.js"></script>

<link href="../static/css/index.css" rel="stylesheet" />
</head>
<body>

<nav class="navbar navbar-expand-lg">
    <h4>
        {% if account_type == 'admin' %}
            Licensing Dashboard (Admin Access) - {{ current_user }}
        {% else %}
            Licensing Dashboard - {{ current_user }}
        {% end %}
    </h4>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
    <a href="/logout">
        <button class="btn btn-outline-info" type="button">Logout</button>
    </a>
    
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <h3>Paid License</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">License Type</th>
                            <th scope="col">Number of License</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key in license_details %}
                        <tr>
                            <td>{{ key }}</td>
                            <td>{{ license_details[key] }}</td>
                        </tr>
                        {% end %}
                    </tbody>
                </table>

            <h3>POC License</h3>
            <div class="card" style="width: 100%;">
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                        <div class="col text-center">
                            <h6 class="card-title">Credit remaining this month:</h6>
                            <h1 class="card-title">{{ user_counter }}</h1>
                            <p class="card-title">credit(s)</p>
                        </div>
                        <div class="col col-lg-5 text-center">
                            {% if user_counter == 0 %}
                            <a class="btn btn-primary" role="button" href="#" data-toggle="modal" data-target="#insufficientCreditModal">Activate</a>
                            <a class="btn btn-primary" role="button" href="#" data-toggle="modal" data-target="#insufficientCreditModal">Extend POC Machine</a>
                            {% else %}
                            <a class="btn btn-primary" role="button" href="#" data-toggle="modal" data-target="#activateModal">Activate</a>
                            <a class="btn btn-primary" role="button" href="#" data-toggle="modal" data-target="#extendModal">Extend POC Machine</a>
                            {% end %}
                            {% if account_type == 'admin' %}
                            <a class="btn btn-primary" role="button" href="#" data-toggle="modal" data-target="#addCreditModal">Add Credit</a>
                            {% end %}
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-8">
            <h3>History</h3>
            <div class="table-responsive">
                <table class="table table-striped" id="historyTable" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Date Created <span class="iconify" data-icon="fa-solid:sort"></span></th>
                            <th>User <span class="iconify" data-icon="fa-solid:sort"></span></th>
                            <th>Action Type <span class="iconify" data-icon="fa-solid:sort"></span></th>
                            <th>Domain Name <span class="iconify" data-icon="fa-solid:sort"></span></th>
                            <th>Expiry Date <span class="iconify" data-icon="fa-solid:sort"></span></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for history in history_details %}
                        <tr>
                            <td>{{ history['dateCreated'] }}</td>
                            <td>{{ history['username'] }}</td>
                            <td>{{ history['actionType'] }}</td>
                            <td>{{ history['domainName'] }}</td>
                            <td>{{ history['dateExpired'] }}</td>
                        </tr>
                        {% end %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% if user_counter > 0 %}
<div class="modal fade" id="activateModal" tabindex="-1" role="dialog" aria-labelledby="activateModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Domain Activation</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form method="POST" class="dialog-form">
                {% if account_type == 'admin' %}
                <div class="form-group">
                    <label for="company_name">Company Name</label>
                    <input type="text" class="form-control" id="company_name" name="username" placeholder="Enter Company Name" required>
                </div>
                <div class="form-group">
                    <label for="domain_name">Domain Name</label>
                    <input type="text" class="form-control" id="domain_name" name="domain_name" placeholder="Enter Domain Name" required>
                </div>
                <div class="form-group">
                    <label for="number_of_days">Number of Days to Expire</label>
                    <input type="number" class="form-control" id="number_of_days" name="number_of_days" placeholder="Enter The Number of Days" required>
                </div>
                {% else %}
                    <div class="form-group">
                        <label for="domain_name">Domain Name</label>
                        <input type="text" class="form-control" id="domain_name" name="domain_name" placeholder="Enter Domain Name" required>
                    </div>
                {% end %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <input type="submit" class="btn btn-info" formaction="/activation" value="Activate" />
                    <div class="spinner-border text-secondary" role="status" style="margin-left: -1.75em !important;">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                {% module xsrf_form_html() %}
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="extendModal" tabindex="-1" role="dialog" aria-labelledby="extendModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Domain Extension</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form method="POST" class="dialog-form">
                {% if account_type == 'admin' %}
                <div class="form-group">
                    <label for="company_name">Company Name</label>
                    <input type="text" class="form-control" id="company_name" name="username" placeholder="Enter Company Name" required>
                </div>
                <div class="form-group">
                    <label for="domain_name">Domain Name</label>
                    <input type="text" class="form-control" id="domain_name" name="domain_name" placeholder="Enter Domain Name" required>
                </div>
                <div class="form-group">
                    <label for="number_of_days">Number of Days to Expire</label>
                    <input type="number" class="form-control" id="number_of_days" name="number_of_days" placeholder="Enter The Number of Days" required>
                </div>
                {% else %}
                    <div class="form-group">
                        <label for="domain_name">Domain Name</label>
                        <input type="text" class="form-control" id="domain_name" name="domain_name" placeholder="Enter Domain Name" required>
                    </div>
                {% end %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <input type="submit" class="btn btn-info" id="edit_profile" formaction="/extension" value="Extend"/>
                    <div class="spinner-border text-secondary" role="status" style="margin-left: -1.5em !important;">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                {% module xsrf_form_html() %}
            </form>
        </div>
    </div>
</div>
{% end %}

{% if account_type == 'admin' %}
<!-- Necessary condition so that user won't be able to hack through the form -->
<div class="modal fade" id="addCreditModal" tabindex="-1" role="dialog" aria-labelledby="addCreditModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Add User Credit</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form method="POST" class="dialog-form">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Select User</label>
                    <select id="user_details" class="form-control" onchange="showCredit({{ user_details }})">
                        <option hidden disabled selected value> -- Select a user -- </option>
                        {% for index,user in enumerate(user_details) %}
                        <option value="{{ index }}">{{ user['username'] }}</option> 
                        {% end %}
                        <input type="hidden" name="target_username" value=""/>
                    </select>
                </div>
                
                <div class="form-group">
                    <label for="poc_credit">POC Credit</label>
                    <input class="form-control" type="text" placeholder="Readonly input here…" value="-" id="poc_credit" readonly>
                </div>
                
                <div class="form-group">
                    <label for="credit_to_add">Credit To Add</label>
                    <input type="number" class="form-control" id="credit_to_add" name="increment_value" placeholder="Enter The Number of Credit To Add" required>
                </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <input type="submit" class="btn btn-info" formaction="/add_credit" value="Add Credit" />
                    <div class="spinner-border text-secondary" role="status" style="margin-left: -2.5em !important;">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                {% module xsrf_form_html() %}
            </form>
        </div>
    </div>
</div>
{% end %}

<div class="modal fade" id="insufficientCreditModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Insufficient Credit</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>Insufficient POC Credit left for this month. Please contact Viscient for a top-up.</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>



<!-- <br><br>
<h2>POC License</h2>
<table>
    <tr>
        <th>POC License credit left this month:</th>
    </tr>
    <tr>
        <td>{{ user_counter }}</td>
    </tr>
    <form method="POST">
    {% if account_type == 'admin' %}
        <tr>
            <td>Company Name: <input type="text" name="username" /></td>
        </tr>
        <tr>
            <td>Domain Name: <input type="text" name="domain_name" /></td>
        </tr>
        <tr>
            <td>Number of Days: <input type="text" name="number_of_days" /></td>
        </tr>
        <tr>
            <td>
                Select user: 
                <select id="user_details" onchange="run({{ user_details }})">
                <option hidden disabled selected value> -- select an option -- </option>
                {% for index,user in enumerate(user_details) %}
                    <option value="{{ index }}">{{ user['username'] }}</option>
                    
                {% end %}
                <input type="hidden" name="target_username" value=""/>
                </select>
                <br>
                POC Credit: <p id="poc_credit">-</p>
                Credit to Add: <input type="text" name="increment_value" />
            </td>
        </tr>
        <tr>
            <input type="submit" formaction="/add_credit" value="Add Credit" />
        </tr>
    {% else %}
        <tr>
            <td>Domain Name: <input type="text" name="domain_name" /></td>
        </tr>
    {% end %}
    <tr>
        <input type="submit" formaction="/activation" value="Activate" />
    </tr>
    <tr>
        <input type="submit" formaction="/extension" value="Extend POC Machine" />
    </tr>
    {% module xsrf_form_html() %}
</form>
</table> -->

</body>
</html>

<script>
    function showCredit(user_details) {
        var userIndex = document.getElementById("user_details").value;
        document.getElementById("poc_credit").value = user_details[userIndex].pocLicenseCounter
        document.getElementsByName("target_username")[0].value = user_details[userIndex].username
    }

    $(document).ready(function(){
        $('#historyTable').DataTable({
            "bFilter": false, //Disable search function
            "sDom": 't',
        });
            
        $('form').submit(function(){
            $('input[type=submit]').attr('disabled', true);
            $(".spinner-border").css("display", "block");
        });
    });
</script>